.card-portfolio {
  padding: 0;
  border-radius: 0;
  border: none;
  position: relative;

  &:before {
    @include ombre('left', 3deg, 5px);
  }
  &:after {
    @include ombre('right', 3deg, 10px);
  }
  
  &__image {
    height: 230px;
    overflow: hidden;
    
    img {
      width: 100%;
      height: auto;
      opacity: 0.5;
      transition: opacity .3s linear, transform 1s ease-in;
    }
  }
  &:hover {
    img {
      opacity: 1;
      transform: scale(1.1) rotate(-2deg);
    }
    
    .card-portfolio__btn {
      background-color: lighten($green, 30);
      color: $white;
      
      &:hover {
        background-color: saturate($green, 30);
      }
    }
  }
  &__btn {
    background-color: transparent;
    color: $green;
    display: block;
    width: 100px;
    border: none;
    border-radius: 0;
    transition: all .3s linear;
    margin-left: auto;
  }
}

















