// Variables .header-anime ...
$header-anime-height: 300px;
$cenario-width: 2400px;

// Items d'annimation
$animationItems: (
  nuages: null,
  maisons: '30s linear infinite reverse',
  route: '30s linear infinite reverse',
  voitureHaut: '15s linear infinite reverse',
  voituresBas: '15s linear infinite'
);



.header-anime {
  background-color: $green;
  padding-bottom: 0;
  padding-top: 96px;
  overflow: hidden;
  
  .header-anime__title {
    color: $antracite;
    font-size:  map-get($heading-font-size, h1);
    font-weight: $heading-weight;
    font-family: $heading-font-family;
  }
  
  .header-anime__subtitle {
    font-size: 1.8em;
    color: $white;
    font-weight: 300;
    line-height: 1.5;
  }
  
  &__illustration {
    background-image: url(../img/cenario_all_960.png);
    height: $header-anime-height/2;
    background-size: auto 100%;
    background-position: center top;
    
    &>div {
      display: none;
    }
    
    @keyframes animation_cenario {
        from {
          transform: translateX(-50%) translateZ(0);
        }
        to {
          transform: translateX(0%) translateZ(0);
        }
      }
    
    @include phone {
      background-image: url(../img/cenario_all_1530.png);
    }
    @include tablet {
      background-image: url(../img/cenario_bg.png);
      height: $header-anime-height;
      position: relative;
      
      &>div {
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: $cenario-width * 2;
      }
      
      @each $element, $typeanimation in $animationItems {
        @if $typeanimation{
          .#{$element} {
            @include animation('cenario_#{$element}.png', $typeanimation);
          }
        } @else {
          .#{$element} {
            @include animation('cenario_#{$element}.png');
          }
        }
      }
    }
  }
}