.js.menu-opened {
  overflow: hidden;
}

.header-nav {
  background-color: lighten($green, 10%);
  
  .js & {
    height: $header-nav-height;
    
    .container {
      height: $header-nav-height;
      padding-right: 0;
    }
  }
  
  &__logo {
    display: inline-block;
    position: relative;
    top: 10px;
    max-width: 350px;
    height: $header-nav-height;
    z-index: 10;
    img {
      height: 100%;
      
    }
  }
  &__hamburgger {
    display: none;
    
    .js & {
      display: inline-block;
      float: right;
      color: $white;
      height: 100%;
      font-size: 2em;
      padding: 0 .5em;
      
      &:hover, &:focus {
        background-color: lighten($green, 5%);
      }
    }
  }
  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    
    .js & {
      display: none;
    }
    .menu-opened & {
      display: block;
    }
    
    a {
      color: $menu-anchor-color;
      display: block;
      font-size: $header-nav-anchor-font-size;
      border-top: 1px solid darken($green, 15%);
      padding: 1em;
      
      &:hover {
        background-color: darken($green, 1%);
      }
    }
  }
}