div {
  border-radius: 15px; }

span {
  border-radius: 30px; }

.button, .button-primary, .button-danger {
  padding: 15px; }

.button-primary {
  background-color: blue; }
  .button-primary:hover {
    background-color: #000066; }

.button-danger {
  background-color: red; }
  .button-danger:hover {
    background-color: #cc0000; }

.menu {
  height: 0; }
  .menu--opened {
    height: auto; }
