/*@mixin phone {
  @media only screen and (min-width: map-get($breakpoints, 'phone')){
    @content; 
  }
}

@mixin tablet {
  @media only screen and (min-width: map-get($breakpoints, 'tablet')){
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: map-get($breakpoints, 'desktop')){
    @content; 
  }
}
*/

@mixin phone {
  @media only screen and (min-width: #{$screen-xs-min}){
    @content;
  }
}

@mixin phone-only {
  @media only screen and (min-width: #{$screen-xs-min}) and (max-width: #{$screen-xs-max}){
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: #{$screen-sm-min}){
    @content;
  }
}

@mixin tablet-only {
  @media only screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}){
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: #{$screen-md-min}){
    @content;
  }
}

@mixin laptop-only {
  @media only screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}){
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$screen-lg-min}){
    @content;
  }
}



@mixin clearfix {
  *zoom:1;
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin animation($image, $param-animation: '90s linear infinite reverse') {
  background-image: url(../img/#{$image});
  animation: animation_cenario #{$param-animation};
}

@mixin ombre($dir, $angle, $distance) {
  content: '';
  z-index: -1;
  position: absolute;
  background: #777;
  width: 50%;
  height: 20px;
  bottom: 10px;
  box-shadow: 0 15px 10px #777;
  @if $dir == 'left' {
    transform: rotate($angle * -1);
    left: $distance;
  }@else {
    transform: rotate($angle);
    right: $distance;
  }
}