// VARIABLES

// Colors principal
$green: #64a59a;
$antracite: #303030;
// Others colors
$white: #fff;
$black: #000;

// Colors Lighten/Darken
// Lighten
$light-green-5: lighten($green, 5%);
$light-green-20: lighten($green, 20);


// Darken
$dark-green-3: darken($green, 3%);
$dark-green-5: darken($green, 5%);
$dark-green-20: darken($green, 20);

// GLOBAL VARIABLES

// Grid & Responsive
// Sizing
$columns: 12;
$grid-max-width: 1200px;

// Breakpoints
// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px;
$screen-md-min:              $screen-md;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

// Typography
// Global fonts
$text-color: $black;
$global-font-family: 'Open Sans', sans-serif;
$paragraph-font-size: 1.4rem;
$paragraph-font-family: $global-font-family;
$uppercase-text: uppercase;
$weight-text: bold;

// Headers
$heading-font-family: 'Open Sans', 'Helvetica neue', Arial, sans-serif;
$heading-weight: bold;
$heading-font-size: (
  h1: 40px,
  h2: 36px,
  h3: 32px,
  h4: 28px,
  h5: 24px,
  h6: 20px
);

// Components
// Icon hamburger
$header-nav-hamburger-font-size: 2em;
// Navigation menu
$header-nav-height: 50px;
$header-nav-bg-color: $light-green-20;
$header-nav-anchor-font-size: 1.5em;
$menu-anchor-color: $white;